header {
  margin-top: 20px;
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 20px;
}

.info-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20 0 20;
}

.info-bar__icorns img {
  width: 15px;
}

.info-bar__time {
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}
.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-top: 10px;
}
.menu-bar__location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.menu-bar__location img {
  width: 15px;
}
.menu-bar__location__icorn {
  padding-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.menu-bar__icorns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-bar__icorns img {
  width: 15px;
  margin-right: 10px;
}
